<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>

  </connectionStrings>
  <appSettings>
    <add key="ZkeemKeeper_host" value="192.168.2.44"/>
    <add key="ZkeemKeeper_port" value="8081"/>
    <add key="ZkeemKeeper_num_of_thread" value="1"/>

    <!--<add key="ATTENDANCE_RedisHost" value="123.31.31.55" />-->
    <add key="ATTENDANCE_RedisHost" value="127.0.0.1" />
    <add key="ATTENDANCE_RedisPort" value="6379" />
    <add key="ATTENDANCE_RedisPwd" value="1234@1234" />
    <add key="ATTENDANCE_RedisDb" value="0" />
    <add key="ATTENDANCE_RedisQueue" value="ATTENDANCE_RedisQueue" />

    
  </appSettings>
</configuration>